<script id="tmpl-GroupSave" type="text/html">
	<div class="GroupSave modal">
		<div class="GroupSave-header modal-header">
			<div class="close btnClose"><i class="icon-remove"></i></div>
			<h3>{{#if id}}Update{{else}}Create{{/if}} Group</h3>
		</div>
		<div class="GroupSave-content modal-body">
			<div class="form-horizontal">
				<div class="control-group">
					<div class="control-label">Group name:</div>
					<div class="controls">
						<input type='text' name="name" value="{{name}}" />
					</div>
				</div>
			</div>
		</div>
		<div class="GroupSave-footer modal-footer">
			<div class="btn btn-primary btnCreate">Save</div>
			<div class="btn btnClose">Close</div>
		</div>
	</div>  
</script>