<script id="tmpl-MainView" type="text/html">
	<div class="MainView">
		<div class="MainView-content">
			<div id="groupList" class="groupList"></div> 	
			<div id="contactList" class="contactList"></div> 	
		</div>
	</div>  
</script>